@font-face {
  font-family: 'Friends';
  src: url('fonts/Friends.eot');
  src: url('fonts/Friends.eot') format('embedded-opentype'),
    url('fonts/Friends.woff2') format('woff2'),
    url('fonts/Friends.woff') format('woff'),
    url('fonts/Friends.ttf') format('truetype'),
    url('fonts/Friends.svg#Friends') format('svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Friends';
  font-size: 10px;
  background: black;
  color: white;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.info,
.desc,
.keys {
  padding: 30px 0;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 15px 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: 'Friends';
  font-size: 2rem;
  color: white;
  background: black;
  padding: 25px 10px;
  border: .4rem solid #ffc600;
  border-radius: .5rem;
  text-shadow: 0 0 .5rem black;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button:hover {
  color: black;
  background: #ffc600;
  transition: all 0.4s ease 0s;
}


.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 100px;
  border: .3rem solid #ffc600;
  border-radius: .5rem;
  margin: 1rem;
  text-align: center;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  font-size: 2rem;
  font-family: 'Friends';
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
    border: .3rem solid #ffc600;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    border: .2rem solid #ffc600;
  }

  .key {
    width: 130px;
    height: 80px;
  }

  kbd {
    font-size: 1.8rem;
  }

  .sound {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  button:first-child {
    margin-bottom: 5px;
  }

  button:last-child {
    margin-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}